# Node & NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
frontend/dist/
frontend/build/
backend/dist/
backend/build/
sde/
market-arbitrage/sqlite-latest.sqlite

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Editor/IDE
.vscode/
.idea/

# Docker volumes
docker-volume-data/
*.local

# OS junk
*.swp
*.swo

# Misc
coverage/
*.log
